<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.zhaw.ma20.cocktailor">
    <uses-permission android:name="android.permission.INTERNET" android:usesCleartextTraffic="true"/>

    <application
        android:name="ch.zhaw.ma20.cocktailor.Cocktailor"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ch.zhaw.ma20.cocktailor.CacheInitializer"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.zhaw.ma20.cocktailor.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>